@import "variables" ;
@import "mixin" ;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero{

    // height: 1100px;
    background-color:white;
    

    .navbar{

        nav{
            background-color:#FBEAEB;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            width: 100%;
            z-index: 25;
        



            img{
                margin-top: 10px;
            }

            form{

                a{
                    font-size: 22px;
                    color:$font_color;
                }
                .search-bar{
                    border: 2px black solid;
                    background-color:#FBEAEB;
                    // width:60%;
                    font-size: 20px;
                    padding: 10px 40px;
                    border-radius: 50px;
                }

                .search-bar:hover{
                        background-color:$primary_color;
                        border: 2px #2F3C7E solid;
                    }

                .search-btn{
                    border: 2px black solid;
                    background-color: #FBEAEB;
                    font-size: 20px;
                    // width: 40%;
                    padding: 10px;
                    border-radius: 50px;
                    
                }
                .search-btn:hover{
                    color:#2F3C7E;
                    border: 2px  #2F3C7E, solid;
                }
            }

            ul{
                a{
                font-family:"IBM Plex Sans", sans-serif;
                text-decoration: none;
                color:$font_color;
                font-size: 20px;
                padding-left:20px;
                    }
                    a:hover{
                        color:#2F3C7E;
                        border-bottom: 1px #7c0311 solid;
                    }
                    .user{
                        color: #7c0311;
                    }
            }
        }
    }

    .navbar2{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 90px;

            ul{
                a{
                 color:rgb(30, 50, 50);
                 font-family: "SUSE", sans-serif;
                text-decoration: none;
                font-size: 30px;
                padding: 20px;
                padding-top: 20px;
            }
                
            }
            a{
                 color:rgb(30, 50, 50);
                 font-family: "SUSE", sans-serif;
                text-decoration: none;
                padding-right: 20px;
                font-size: 26px;
            }

            a:hover{
                    color:#2F3C7E;
                }
        }
    }
}

.cart2{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    .img-side{
        display: flex;
        flex-direction: column;
        gap: 10px;
        img{
            border: 1px gainsboro solid;
        }
        .buy{
            padding:10px;
            border: 1px #2F3C7E solid;
            a{
            font-size: 25px;
            text-decoration: none;
            color: #2F3C7E;
            }
        }
        .buy:hover{
            box-shadow: 0 0 5px black, 0 0 10px #2F3C7E;
        }
    }

    .data{
     .rating{
                padding-bottom: 5px;
                font-size:20px ;
                i{
                    color: gold;
                    }
            }

            .title{
                font-size:30px;
                padding-bottom: 8px;      
                color: black;
            }

            .price{
                font-size:30px ;
                span{
                    font-size: 15px;
                    color: green;
                }
            }

            .offer{
                font-size: 15px;
            }

            .emi{
                font-size: 22px;
            }

    }
}