* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FBEAEB;
}

.hero {
  background-color: white;
}

.hero .navbar nav {
  background-color: darkslategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 25;
}

.hero .navbar nav img {
  margin-top: 10px;
}

.hero .navbar nav form a {
  font-size: 22px;
  color: whitesmoke;
}

.hero .navbar nav form .search-bar {
  border: 2px black solid;
  background-color: whitesmoke;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 50px;
}

.hero .navbar nav form .search-bar:hover {
  background-color: whitesmoke;
  border: 2px #2F3C7E solid;
}

.hero .navbar nav form .search-btn {
  border: 2px black solid;
  background-color: whitesmoke;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
}

.hero .navbar nav form .search-btn:hover {
  background-color: white;
  color: black;
  border: 2px  darkslategray, solid;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.hero .navbar nav ul a {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  padding: 15px;
}

.hero .navbar nav ul a:hover {
  color: whitesmoke;
  border-bottom: 1px whitesmoke solid;
  text-shadow: 0 0 5px white, 0 0 10px #2F3C7E;
}

.hero .navbar nav ul .user {
  color: #7c0311;
}

.hero .navbar2 {
  margin-top: 90px;
  text-align: center;
  font-size: 20px;
  color: black;
}

.cart2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cart2 .img-side {
  border: 1px gainsboro solid;
  text-align: center;
}

.cart2 .img-side h1 {
  font-size: 17px;
  border-bottom: 1px gainsboro solid;
}

.cart2 .img-side h1 i {
  font-size: 20px;
  color: orange;
  padding: 5px;
}

.cart2 .img-side .rupee {
  font-size: 17px;
  font-weight: bolder;
  border-bottom: 1px gainsboro solid;
}

.cart2 .img-side .delivery .rupee {
  font-size: 17px;
}

.cart2 .img-side2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

.cart2 .img-side2 .title {
  font-size: 18px;
  padding: 8px;
  color: black;
}

.cart2 .img-side2 img {
  border: 1px gainsboro solid;
}

.cart2 .img-side2 h1 {
  font: 18px sans-serif;
  padding: 8px;
}

.cart2 .img-side2 h1 span {
  border: 1px gray solid;
  background-color: gainsboro;
  padding: 5px;
}

.cart2 .price {
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart2 .price .rupee {
  font-size: 20px;
}

.cart2 .delivery {
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart2 .delivery .rupee {
  font-size: 20px;
}

.data .rating {
  padding-bottom: 5px;
  font-size: 20px;
}

.data .rating i {
  color: gold;
}

.data .price {
  font-size: 30px;
}

.data .price span {
  font-size: 15px;
  color: green;
}

.data .offer {
  font-size: 15px;
}

.data .emi {
  font-size: 22px;
}

.cart3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cart3 .img-side {
  border: 1px gainsboro solid;
  text-align: center;
}

.cart3 .img-side h1 {
  font-size: 17px;
  border-bottom: 1px gainsboro solid;
}

.cart3 .img-side h1 i {
  font-size: 20px;
  color: orange;
  padding: 5px;
}

.cart3 .img-side .rupee {
  font-size: 18px;
  font-weight: bolder;
}

.cart3 .img-side .img-side2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cart3 .img-side .img-side2 .name {
  font-size: 25px;
  padding: 8px;
  color: black;
}

.cart3 .img-side .img-side2 img {
  border: 1px gainsboro solid;
}

.cart3 .img-side .img-side2 h1 {
  font: 18px sans-serif;
  padding: 8px;
}

.cart3 .img-side .img-side2 h1 span {
  border: 1px gainsboro solid;
  background-color: gainsboro;
  padding: 5px;
}

.cart3 .img-side .price {
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart3 .img-side .price .rupee {
  font-size: 20px;
}

.cart3 .img-side .delivery {
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart3 .img-side .delivery .rupee {
  font-size: 20px;
}

.cart3 .data .rating {
  padding-bottom: 5px;
  font-size: 20px;
}

.cart3 .data .rating i {
  color: gold;
}

.cart3 .data .price {
  font-size: 30px;
}

.cart3 .data .price span {
  font-size: 15px;
  color: green;
}

.cart3 .data .offer {
  font-size: 15px;
}

.cart3 .data .emi {
  font-size: 22px;
}

.button1 {
  text-align: center;
  margin: 20px;
}

.button1 .btn2 {
  font-size: 35px;
  padding: 15px;
  border: 1px orangered solid;
  background-color: orangered;
}

.button1 .btn2 a {
  text-decoration: none;
  color: darkslategray;
}

.foot {
  background-color: darkslategray;
}

.foot .icons {
  padding-top: 30px;
}

.foot .icons a {
  border: 1px white solid;
  border-radius: 50px;
  padding: 15px;
  font-size: 30px;
  color: #FBEAEB;
  margin: 10px;
}

.foot .icons a:hover {
  color: wheat;
  -webkit-box-shadow: 0 0 5px #2F3C7E, 0 0 10px black;
          box-shadow: 0 0 5px #2F3C7E, 0 0 10px black;
}

.foot .foot-container {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.foot .foot-container .grid1 {
  padding: 0px 40px;
}

.foot .foot-container .grid1 h1 {
  color: #FBEAEB;
}

.foot .foot-container .grid1 p {
  text-align: justify;
  color: #FBEAEB;
}

.foot .foot-container .grid3 {
  padding: 0px 40px;
  font-size: 25px;
  text-decoration: none;
}

.foot .foot-container .grid3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.foot .foot-container .grid3 ul a {
  color: #FBEAEB;
  text-decoration: none;
}

.foot .foot-container .grid3 ul a:hover {
  color: wheat;
  text-shadow: 0 0 4px black, 0 0 5px wheat;
}

.foot .foot-container .grid2 {
  padding: 0px 60px;
  color: #FBEAEB;
}

.foot .foot-container .grid2 a {
  text-decoration: none;
  color: #FBEAEB;
}

.foot .foot-container .grid2 a:hover {
  color: whitesmoke;
  color: wheat;
  text-shadow: 0 0 5px black, 0 0 10px whitesmoke;
}

.foot .foot-container .grid4 {
  color: white;
  padding-bottom: 10px;
}

.foot .foot-container .grid4 img {
  width: 180px;
  height: 60px;
}

.foot .visa {
  background-color: darkslategrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.foot .visa img {
  width: 100%;
  padding: 10px;
  width: 70px;
  height: 50px;
}

.foot .copyright {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  color: whitesmoke;
  background-color: #294646;
}
/*# sourceMappingURL=checkout.css.map */