* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  background-color: white;
}

.hero .navbar nav {
  background-color: #FBEAEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 25;
}

.hero .navbar nav img {
  margin-top: 10px;
}

.hero .navbar nav form a {
  font-size: 22px;
  color: #1e3232;
}

.hero .navbar nav form .search-bar {
  border: 2px black solid;
  background-color: #FBEAEB;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 50px;
}

.hero .navbar nav form .search-bar:hover {
  background-color: #FCF6F5;
  border: 2px #2F3C7E solid;
}

.hero .navbar nav form .search-btn {
  border: 2px black solid;
  background-color: #FBEAEB;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
}

.hero .navbar nav form .search-btn:hover {
  color: #2F3C7E;
  border: 2px  #2F3C7E, solid;
}

.hero .navbar nav ul a {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  color: #1e3232;
  font-size: 20px;
  padding-left: 20px;
}

.hero .navbar nav ul a:hover {
  color: #2F3C7E;
  border-bottom: 1px #7c0311 solid;
}

.hero .navbar nav ul .user {
  color: #7c0311;
}

.hero .navbar2 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
}

.hero .navbar2 nav ul a {
  color: #1e3232;
  font-family: "SUSE", sans-serif;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  padding-top: 20px;
}

.hero .navbar2 nav a {
  color: #1e3232;
  font-family: "SUSE", sans-serif;
  text-decoration: none;
  padding-right: 20px;
  font-size: 26px;
}

.hero .navbar2 nav a:hover {
  color: #2F3C7E;
}

.hero .products {
  padding-top: 30px;
}

.hero .products .catgry {
  font-size: 40px;
}

.hero .products .catgry h1 span {
  color: red;
}

.hero .protop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.hero .protop .mob img {
  margin-top: 35px;
}

.hero .protop .item2 img {
  margin-top: 55px;
}

.hero .protop .item {
  width: 268px;
  height: 530px;
  background-color: white;
  border: 1px rgba(0, 0, 0, 0.375) solid;
  padding: 20px;
  padding-top: 30px;
  margin: 20px;
  text-align: center;
  padding: 10px;
}

.hero .protop .item .lep {
  margin-top: 58px;
}

.hero .protop .item .data {
  padding: 15px;
  margin-top: 40px;
}

.hero .protop .item img {
  padding-top: 10px;
  border-radius: 0px;
}

.hero .protop .item img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.hero .protop .item .rating {
  padding-bottom: 5px;
  font-size: 20px;
}

.hero .protop .item .rating i {
  color: gold;
}

.hero .protop .item .title {
  font-size: 20px;
  padding-bottom: 8px;
  font-family: "SUSE", sans-serif;
  color: black;
}

.hero .protop .item .price {
  font-family: "SUSE", sans-serif;
  font-size: 20px;
}

.hero .protop .item .btn {
  margin-top: 5px;
  font-size: 20px;
  padding: 5px;
  background-color: rgba(255, 166, 0, 0.59);
  border: 1px orangered solid;
  border-radius: 10px;
}

.hero .protop .item .btn a {
  text-decoration: none;
  color: black;
}

.hero .protop .item .btn:hover {
  background-color: orange;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  font-size: 23px;
}

.hero .protop .item:hover {
  -webkit-box-shadow: 0 0 8px, 0 0 5px black;
          box-shadow: 0 0 8px, 0 0 5px black;
}
/*# sourceMappingURL=productstyle.css.map */