@import "variables" ;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero{
    height: 100vh;
    width: 100%;
    background-image:url(/priscilla-du-preez-dlxLGIy-2VU-unsplash.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    

    .navbar{

        nav{
            background-color:#FBEAEB;
            display: flex;
            justify-content: space-between;
            align-items: center;


            // .marq{
            // width: 35%;
            // font-family: "SUSE", sans-serif;
            // background-color: $primary_color;
            // color:$font_color;
            // font-size: 40px;
            // }

            img{
                margin-top: 10px;
            }

            form{

                a{
                    font-size: 22px;
                    color:$font_color;
                }
                .search-bar{
                    border: 2px black solid;
                    background-color:#FBEAEB;
                    // width:60%;
                    font-size: 20px;
                    padding: 10px 40px;
                    border-radius: 50px;
                }

                .search-bar:hover{
                        background-color:$primary_color;
                        border: 2px #2F3C7E solid;
                    }

                .search-btn{
                    border: 2px black solid;
                    background-color: #FBEAEB;
                    font-size: 20px;
                    // width: 40%;
                    padding: 10px;
                    border-radius: 50px;
                    
                }
                .search-btn:hover{
                    color:#2F3C7E;
                    border: 2px  #2F3C7E, solid;
                }
            }

            ul{
                a{
                font-family:"IBM Plex Sans", sans-serif;
                text-decoration: none;
                color:$font_color;
                font-size: 20px;
                padding-left:20px;
                    }
                    a:hover{
                        color:#2F3C7E;
                        border-bottom: 1px #7c0311 solid;
                    }
                    .user{
                        color: #7c0311;
                    }
            }
        }
    }

    .navbar2{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            ul{
                a{
                 color:rgb(30, 50, 50);
                 font-family: "SUSE", sans-serif;
                text-decoration: none;
                font-size: 30px;
                padding: 20px;
                padding-top: 20px;
            }
                
            }
            a{
                 color:rgb(30, 50, 50);
                 font-family: "SUSE", sans-serif;
                text-decoration: none;
                padding-right: 20px;
                font-size: 26px;
            }

            a:hover{
                    color:#2F3C7E;
                }
        }
    }

    .side-text{
        font-size: 50px;
        // text-align: center;
        align-items: center;
        padding-top: 120px;
        padding-left: 5px;
    }


    // adding sliding images
    .container{
        width: 85vmin;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 57%;
        left: 70%;
        overflow: hidden;
        border: 1px solid wheat;
        box-shadow: 10px 25px 30px rgba(2, 2, 13, 0.756);
        

        .slide-img{
            width: 100%;
            display: flex;
            animation: slide 20s infinite;
            img{
                width: 100%;
            }
        }
    }

    @keyframes slide {
        0%{
            transform: translateX(0);
        }
        15%{
            transform: translateX(0);
        }
        20%{
            transform: translateX(-100%);
        }
        35%{
            transform: translateX(-100%);
        }

        40%{
            transform: translateX(-200%);
        }

        55%{
            transform: translateX(-200%);
        }

        60%{
            transform: translateX(-300%);
        }
        75%{
            transform: translateX(-300%);
        }
        80%{
            transform: translateX(-400%);
        }
        95%{
            transform: translateX(-400%);
        }
         100%{
            transform: translateX(-500%);
        }
         100%{
            transform: translateX(-500%);
        }
    }


}


//Tablet View
@media screen  and (max-width:768px) 
{
    .hero{
        .navbar{
            form{
                .search-bar{
                    width: 50%;
                    padding: 0px 5px;
                    margin-left: 10px;
                    }
            }
        }
        .navbar2{
            nav{
                ul{
                    a{
                        font-size: 20px;
                    }
                }
                a{
                        font-size: 20px;
                    }
            }
        }
        .side-text{
              font-size: 20px;
        }

        .container{
            width: 65vmin;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 57%;
            left: 70%;
            overflow: hidden;
            border: 1px solid wheat;
            box-shadow: 10px 25px 30px rgba(2, 2, 13, 0.756);
        }
    }
    
}

