* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(/priscilla-du-preez-dlxLGIy-2VU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .navbar nav {
  background-color: #FBEAEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .navbar nav img {
  margin-top: 10px;
}

.hero .navbar nav form a {
  font-size: 22px;
  color: #1e3232;
}

.hero .navbar nav form .search-bar {
  border: 2px black solid;
  background-color: #FBEAEB;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 50px;
}

.hero .navbar nav form .search-bar:hover {
  background-color: #FCF6F5;
  border: 2px #2F3C7E solid;
}

.hero .navbar nav form .search-btn {
  border: 2px black solid;
  background-color: #FBEAEB;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
}

.hero .navbar nav form .search-btn:hover {
  color: #2F3C7E;
  border: 2px  #2F3C7E, solid;
}

.hero .navbar nav ul a {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  color: #1e3232;
  font-size: 20px;
  padding-left: 20px;
}

.hero .navbar nav ul a:hover {
  color: #2F3C7E;
  border-bottom: 1px #7c0311 solid;
}

.hero .navbar nav ul .user {
  color: #7c0311;
}

.hero .navbar2 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.hero .navbar2 nav ul a {
  color: #1e3232;
  font-family: "SUSE", sans-serif;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  padding-top: 20px;
}

.hero .navbar2 nav a {
  color: #1e3232;
  font-family: "SUSE", sans-serif;
  text-decoration: none;
  padding-right: 20px;
  font-size: 26px;
}

.hero .navbar2 nav a:hover {
  color: #2F3C7E;
}

.hero .side-text {
  font-size: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 120px;
  padding-left: 5px;
}

.hero .container {
  width: 85vmin;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 57%;
  left: 70%;
  overflow: hidden;
  border: 1px solid wheat;
  -webkit-box-shadow: 10px 25px 30px rgba(2, 2, 13, 0.756);
          box-shadow: 10px 25px 30px rgba(2, 2, 13, 0.756);
}

.hero .container .slide-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide 20s infinite;
          animation: slide 20s infinite;
}

.hero .container .slide-img img {
  width: 100%;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  35% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  55% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  60% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  75% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  80% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  95% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  35% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  55% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  60% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  75% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  80% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  95% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
}

@media screen and (max-width: 768px) {
  .hero .navbar form .search-bar {
    width: 50%;
    padding: 0px 5px;
    margin-left: 10px;
  }
  .hero .navbar2 nav ul a {
    font-size: 20px;
  }
  .hero .navbar2 nav a {
    font-size: 20px;
  }
  .hero .side-text {
    font-size: 20px;
  }
  .hero .container {
    width: 65vmin;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 57%;
    left: 70%;
    overflow: hidden;
    border: 1px solid wheat;
    -webkit-box-shadow: 10px 25px 30px rgba(2, 2, 13, 0.756);
            box-shadow: 10px 25px 30px rgba(2, 2, 13, 0.756);
  }
}
/*# sourceMappingURL=style.css.map */